.auth__input-error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #ee5757;
  display: block;
  min-height: 25px;
}
