.popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  margin-left: 36px;
  margin-top: 37px;
  margin-right: 64px;
  margin-bottom: 50px;
  width: 330px;
}

@media screen and (max-width: 750px) {
  .popup__title {
    margin: auto;
    max-width: 238px;
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
