.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 50px;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 750px) {
  .profile__avatar {
    margin-bottom: 25px;
    margin-top: 38px;
  }
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: 0.2;
}
