.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "about .";
  gap: 8px 18px;
  margin-left: 30px;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .profile__info {
    margin-left: 0px;
  }
}
